<%= form_for(@angel) do |f| %>
  <% if @angel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@angel.errors.count, "error") %> prohibited this angel from being saved:</h2>

      <ul>
      <% @angel.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
